.message{
  display: flex;
  flex-direction: column  ;
 // justify-content:space-between;
  font-size: larger;
  padding: 15px;  

  border-radius: 15px;
  min-width: 200px;
  max-width: 500px;
  min-height: fit-content;
  margin: 10px;
  
}
.message-contact{
  background-color: white;
  align-self: flex-start;
}
.message-user{
  background-color: white;
  align-self: flex-end;
}
.message .contact-name{
  font-size: smaller;
  color: #616161;
}
.message .send-time{
  font-size: smaller;
  color: #616161;
}
.message .content{
  overflow-wrap: break-word;
}