@import "../node_modules/bootstrap/dist/css/bootstrap.css";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
 // display: flex;
}
.sidebar-container{
  width: 78px;
  float: left;
}
.sidebar-body{
  background-color: #5e96ff;
  color: white;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebar-tabs-top{
  margin-bottom: auto;
}
.sidebar-tabs-bottom{
  margin-top: auto;
}
.sidebar-tabs{
  position: relative;
  height: 64px;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.sidebar-avatar{
  height: 100px;
}
.sidebar-avatar-image{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.sidebar-tabs .icon{
  width: 24px;
  height: 24px;
}
.sidebar-tabs:hover{
  background-color: #8fb6ff;
}
.conversation-list-container
{
 float: left;
 min-width: 300px;

 max-width: fit-content;
 height: 100vh;
 background-color:white;
 resize: horizontal; 
}
.contact-search{
  background-color: white;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-search-box{
  width: 190px;
  height: 32px;
  float: left;
}

.conversation-list{
  height: calc(100vh - 64px);
  overflow-y: scroll;
}
.main{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: stretch;
  max-width: calc(100vw - 410px);
}
.main .header{
  width: calc(100vw - 410px);
  height: 100px;
  background-color: red;
}

.main .chat-title{
  margin: 20px;
}
.main .chat-title .contact-name{
  font-weight: bold;
  font-size: larger;
}
.main .chat-view{ 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
  padding: auto;
  flex: auto;
  overflow-y: scroll;
  min-height: auto;
  background-color: rgb(234, 234, 234);
}
.main .contact-avatar{
  width: 64px;
  height: 64px;
  margin: 16px;
}
.main .text-input{
  background-color: green;
  flex: 0 0 106px;
}
.message{
  background-color: white;
  border-radius: 15px;
  min-width: 200px;
  max-width: fit-content;
  height: 110px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: larger;
  padding: 15px;
}
.message-contact{
  align-self: flex-start;
}
.message-user{
  height: 90px;
  align-self: flex-end;
}
.message .contact-name{
  font-size: smaller;
  color: #616161;
}
.message .send-time{
  font-size: smaller;
  color: #616161;
}
.message .content{
  font-size: larger;
}