
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar-container{
  width: 64px;
  float: left;
}
.sidebar-body{
  background-color: #5e96ff;
  color: white;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebar-tabs-top{
  margin-bottom: auto;
}
.sidebar-tabs-bottom{
  margin-top: auto;
}
.sidebar-tabs{
  position: relative;
  height: 64px;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.sidebar-avatar{
  height: 100px;
}
.sidebar-avatar-image{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.sidebar-tabs .icon{
  width: 24px;
  height: 24px;
}
.sidebar-tabs:hover{
  background-color: #8fb6ff;
}
.conversation-list-container
{
 float: left;
 min-width: 300px;

 max-width: fit-content;
 height: 100vh;
 background-color:red;
 resize: horizontal; 
 overflow: auto;
}